

code {
    color: white;
    .prompt {
        margin: 5px;
    }
    .git-branche{
        color: greenyellow;
    }
}

.ascii-name {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.ascii-name-div {
    max-height: 264px;
    display: flex;
    text-align: left;
    align-content: left;
    transform: scale(1);
    transition: transform 1s linear;

}

.resume-status {
    font-weight: bold;
    font-size: x-large;
    margin-left: 2%;
}

@media  (max-width: 1220px) {
    .ascii-name-div {
       
        transform: scale(0.5) translateY(-80px) translateX(-500px)  ;
        transition: transform 1s;
        max-height: 120px;
        transition: max-height 1s linear;
    }
}


@media  (max-width: 900px) {
    .ascii-name-div {
        transform: scale(0.5) translateY(-80px) translateX(-200px);
        transition: transform 1s;
        max-height: 100px;
        transition: max-height 1s linear;
    }
    .info-list {
        column-count: 2;
    }
}

@media  (max-width: 650px) {
    .ascii-name-div {
        transform: scale(0.5) translateY(-80px) translateX(-300px);
        transition: transform 1s;

    }

}

@media  (max-width: 600px) {
    .ascii-name-div {

        transform: scale(0.4) translateY(-100px) translateX(-350px);
        transition: transform 1s;

    }
}

@media  (max-width: 480px) {
    .ascii-name-div {

        transform: scale(0.3) translateY(-80px) translateX(-400px);
        transition: transform 1s;

    }
}

@media  (max-width: 370px) {
    .ascii-name-div {
        display: none;
        max-height: 0;
    }
}
