
  .buttons {
    display: flex;
  }
  
  @mixin win-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    border: none;
    
  }
  
.red-button {
    @include win-btn();
    background-color: $col-red;
    &:hover {
      background-color: rgba($col-red, 0.5);
    }
}
  
.yellow-button {
    @include win-btn();
    background-color: $col-yellow;
    &:hover {
      background-color: rgba($col-yellow, 0.5);
    }
}

.green-button {
    @include win-btn();
    background-color: rgba($col-green, 1);
    &:hover {
      background-color: rgba($col-green, 0.8);
    }
}

.invisible {
  background-color: 0;
  border: 0;
}