.buttons {
  display: flex;
}

.red-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  background-color: #dd8989;
}
.red-button:hover {
  background-color: rgba(221, 137, 137, 0.5);
}

.yellow-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  background-color: #e0e04b;
}
.yellow-button:hover {
  background-color: rgba(224, 224, 75, 0.5);
}

.green-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  background-color: #00b500;
}
.green-button:hover {
  background-color: rgba(0, 181, 0, 0.8);
}

.invisible {
  background-color: 0;
  border: 0;
}

code {
  color: white;
}
code .prompt {
  margin: 5px;
}
code .git-branche {
  color: greenyellow;
}

.ascii-name {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.ascii-name-div {
  max-height: 264px;
  display: flex;
  text-align: left;
  align-content: left;
  transform: scale(1);
  transition: transform 1s linear;
}

.resume-status {
  font-weight: bold;
  font-size: x-large;
  margin-left: 2%;
}

@media (max-width: 1220px) {
  .ascii-name-div {
    transform: scale(0.5) translateY(-80px) translateX(-500px);
    transition: transform 1s;
    max-height: 120px;
    transition: max-height 1s linear;
  }
}
@media (max-width: 900px) {
  .ascii-name-div {
    transform: scale(0.5) translateY(-80px) translateX(-200px);
    transition: transform 1s;
    max-height: 100px;
    transition: max-height 1s linear;
  }
  .info-list {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (max-width: 650px) {
  .ascii-name-div {
    transform: scale(0.5) translateY(-80px) translateX(-300px);
    transition: transform 1s;
  }
}
@media (max-width: 600px) {
  .ascii-name-div {
    transform: scale(0.4) translateY(-100px) translateX(-350px);
    transition: transform 1s;
  }
}
@media (max-width: 480px) {
  .ascii-name-div {
    transform: scale(0.3) translateY(-80px) translateX(-400px);
    transition: transform 1s;
  }
}
@media (max-width: 370px) {
  .ascii-name-div {
    display: none;
    max-height: 0;
  }
}
body {
  background-color: black;
  background-size: cover;
}

.info-list {
  list-style-type: disc;
}

.break-line {
  white-space: pre;
}

.fake-window {
  display: inline-block;
  width: 95%;
  height: 95vh;
  background-color: rgba(27, 27, 27, 0.7);
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1%;
  margin-left: 2.5%;
}
.fake-window header {
  background-color: #666666;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-bottom: 3px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
}

.code {
  background-color: #f0f0f0;
  padding: 10px;
}

.blink {
  -webkit-animation: blinkanim 1s step-start infinite;
          animation: blinkanim 1s step-start infinite;
}

@-webkit-keyframes blinkanim {
  50% {
    opacity: 0;
  }
}

@keyframes blinkanim {
  50% {
    opacity: 0;
  }
}
.logo {
  height: auto;
  background-image: url("../../public/favicon.ico");
  -webkit-animation: fall 16s linear infinite;
          animation: fall 16s linear infinite;
}

@-webkit-keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 97vh);
    opacity: 0;
  }
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 97vh);
    opacity: 0;
  }
}
@media (min-width: 1150px) {
  .info-list {
    -moz-column-count: 2;
         column-count: 2;
  }
}/*# sourceMappingURL=style.css.map */