@import 'var';
@import 'input';
@import 'code';

body {
    background-color: black;
    background-size: cover;
}

.info-list {
    list-style-type: disc;
}

.break-line {
    white-space: pre;
}

.fake-window {
    display: inline-block;
    header {
        background-color: rgba($col-grey, 1);
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        height: 30px;
        margin-bottom: 3px;
    }
    width: 95%;
    height: 95vh;
    background-color: rgba($col-black, 0.7);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 2.5%;
}
  
.title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}
  
.code {
    background-color: #f0f0f0;
    padding: 10px;
}

.blink {
    animation: blinkanim 1s step-start infinite;
}

@keyframes blinkanim {
    50% {
        opacity: 0;
    }
}

.logo {
    height: auto;
    background-image: url('../../public/favicon.ico');
    animation: fall 16s linear infinite;
}


@keyframes fall {
	0% {
		opacity: 0;
	}
	3% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.9;
	}
	100% {
		transform: translate(0, 97vh);
		opacity: 0;}
	}

@media  (min-width: 1150px) {
    .info-list {
        column-count: 2;
    }
}